<ion-header>
  <ion-navbar transparent>
    <ion-title>Review King</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addReview()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
<!-- 
 <canvas-draw *ngIf="canvasShow"></canvas-draw>

  <button ion-button (click)="startRecording()">Start</button>
  <button ion-button (click)="selectVideo()">Select</button>


  <video #myvideo height="300px" width="300px" controls></video>


  <vg-player (onPlayerReady)="onPlayerReady($event)">

    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
      
      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="media" #media id="singleVideo" preload="auto">
        
    </video>
  </vg-player>


  <button ion-button (click)="saveChanges()">Save changes</button>
  <button ion-button (click)="hideCanvas()">Cancel</button>
-->

  <ion-list no-lines>
    
    <ion-item-sliding *ngFor="let review of reviews">
      
      <ion-item>
        
        <ion-avatar item-left>
          <img src="https://api.adorable.io/avatars/75/{{review.title}}">
        </ion-avatar>

        <h2>{{review.title}}</h2>
        <p>{{review.description}}</p>

        <ion-icon *ngIf="review.rating < 50" danger name="sad"></ion-icon>
        <ion-icon *ngIf="review.rating >= 50" secondary name="happy"></ion-icon>
        {{review.rating}}

      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteReview(review)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  
</ion-content>
